canvas.word-bubble {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;

    &.pop-in {
        transform: scale(.1);
        opacity: 0;
        &.enter {
            transition: transform 250ms cubic-bezier(.4, 0, .6, 2), opacity 250ms;
            transform: none;
            opacity: 1;
        }
    }

    &.from-left {
        transform: translate3d(-500px, 0, 0);
        opacity: 0;
        &.enter {
            transition: transform 250ms cubic-bezier(.4, 0, .6, 1.2), opacity 500ms;
            transform: none;
            opacity: 1;
        }
    }

    &.from-right {
        transform: translate3d(500px, 0, 0);
        opacity: 0;
        &.enter {
            transition: transform 250ms cubic-bezier(.4, 0, .6, 1.2), opacity 500ms;
            transform: none;
            opacity: 1;
        }
    }

    &.from-top {
        transform: translate3d(0, -500px, 0);
        opacity: 0;
        &.enter {
            transition: transform 250ms cubic-bezier(.4, 0, .6, 1.2), opacity 500ms;
            transform: none;
            opacity: 1;
        }
    }

    &.from-bottom {
        transform: translate3d(0, 500px, 0);
        opacity: 0;
        &.enter {
            transition: transform 250ms cubic-bezier(.4, 0, .6, 1.2), opacity 500ms;
            transform: none;
            opacity: 1;
        }
    }
}